@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.2rem;
  width: 100%;
  margin: auto;
  flex-grow: 1;
  box-sizing: border-box;
}

.logo {
  width: 4rem;
  margin: 1rem auto;
}

.menu_icon {
  font-size: 3em;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.grid {
  max-width: 100vw;
  width: auto;
}

.grid_menu_space {
  width: 60px;
  background-color: #021631;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.5s;
  overflow: hidden;
}

.grid_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid_menu_items {
  margin-bottom: 1rem;
  font-family: "Montserrat", Arial, sans-serif;
  color: #858e9d;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 1rem;
  transition: 0.3s;
}

.grid_menu_items.active {
  color: #fff;
}

.grid_menu_items:hover {
  /* box-shadow: 0 0 6px white; */
  color: #bcc2ca;
  transform: scale(1.1);
}

.grid_menu_items:focus {
  outline: none;
}

.main {
  margin-left: 60px;
  position: relative;
  transition: 0.5s;
}

.main-content {
  height: 100vh;
  transition: 0.5s;
  display: none;
  grid-template-columns: minmax(450px, 1fr) 3fr;
  position: absolute;
  left: 0;
  top: 0;
}

.main-content.active {
  display: grid;
}

.mainMenu__compact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f2f6;
  padding: 1rem;
  text-align: left;
}

.mainMenu__compact__btn {
  font-size: 2rem;
  margin: 0.5rem;
  color: black;
  transition: 0.3s;
}

.mainMenu__compact__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.grid_tickets {
  transition: 0.5s;
  background-color: #f1f2f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.searchForm {
  border: 2px solid #e8e8f0;
  background-color: white;
  border-radius: 1rem;
  margin: 0 1rem;
}

.searchBtn {
  background-color: transparent;
  border: none;
}

.ticket_search {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1em;
  border: none;
  border-radius: 9px;
  padding: 0.5rem;
  outline: none;
}

.ticket_search::-moz-placeholder {
  font-family: "Montserrat", Arial, sans-serif;
  opacity: 0.3;
}

.ticket_search::placeholder {
  font-family: "Montserrat", Arial, sans-serif;
  opacity: 0.3;
}

.ticketSearch__submit {
  font-family: "Montserrat", Arial, sans-serif;
  margin: 1rem;
  margin-left: 0;
  font-size: 1em;
  border: none;
  border-radius: 9px;
  padding: 0.5rem;
  background-color: #fff;
}

.ticketMenu__emails {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticketMenu__name {
  margin-right: 1rem;
  color: black;
  font-weight: bolder;
}

#emailSelect {
  border: 2px solid #e8e8f0;
  padding: 0.4rem;
  border-radius: 0.5rem;
  outline: 0;
}

/* .ticket_search:after{
content: '\f002';
font-family: FontAwesome;
color: rgba(0, 0, 0, 0.3);
} */
ul {
  list-style: none;
}

.select_emails {
  font-family: "Montserrat", Arial, sans-serif;
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 1em;
}

.ticket_header_count {
  margin-left: 1rem;
  border: 1px solid;
  border-radius: 1rem;
  padding: 0 1rem;
}

.ticket_header {
  display: inline-block;
  text-align: center;
  width: 100%;
  /* height: 20rem; */
}

.ticket_header_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
}

.ticket_header_menu_item {
  padding: 1rem;
  color: black;
}

.ticket_header_menu_item:hover {
  color: #81c2ff;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 2px solid #81c2ff;
}

.ticket_header_menu_item:hover .ticket_header_count {
  border: 2px solid;
}

.ticket_header_menu_item.active {
  color: #1d90fb;
  border-bottom: 2px solid #1d90fb;
  font-weight: bold;
}

.ticket_header_menu_item.active .ticket_header_count {
  border: 2px solid;
}

.ticket_list {
  background-color: white;
  flex-grow: 1;
  width: 99%;
  padding: 0;
  overflow-y: scroll;
}

.ticket_list::-webkit-scrollbar {
  width: 1rem;
}

.ticket_list::-webkit-scrollbar-track {
  background: #ffffff;
}

.ticket_list::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 1rem;
  border: 1px solid #ffffff;
}

.ticket_list_item {
  cursor: pointer;
  overflow: hidden;
  display: flex;
  background-color: #fff;
  align-items: center;
}

.ticket_icon {
  margin: 0rem;
  width: 4rem;
}

.ticket__checkbox {
  flex-shrink: 0;
  position: relative;
  padding: 1rem;
}

.ticket__checkbox:hover {
  cursor: pointer;
}

.customCheckbox {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.ticket_list_content {
  padding: 1rem;
  overflow: hidden;
  flex-grow: 1;
}

.ticket-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket_email {
  padding: 0.5rem;
}

.ticket_time {
  padding: 0.5rem;
}

.ticket_theme {
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ticket_theme::before {
  content: "Тема:";
  margin-right: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* .ticket_icon {
    height: 4rem;
    width: 4rem;
    background-color: #a67c00;
    border-radius: 100%;
    padding: 1rem 1.5rem;
    margin: 1rem;
} */
.ticket_list_item:nth-child(even) {
  background-color: rgb(250, 250, 250);
}

.ticket_list_item:hover {
  background-color: rgba(216, 215, 215, 0.5);
}

.ticket_list_item.active {
  background-color: #d8d7d7;
  font-weight: bold;
  color: black;
}

.grid_converstation {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-grow: 1;
  overflow: hidden;
}

.ticket_number {
  margin-right: 1rem;
}

.ticket_number::before {
  content: "Тикет№:";
  margin-right: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.converstation_info {
  padding: 1rem;
  background-color: #f1f2f6;
  text-align: center;
  border: 2px solid #e8e8f0;
}

.info-header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.info-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-footer::before {
  content: "Отправитель:";
  margin-right: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.converstation_field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-image: url("../img/pattern.png");
  overflow: auto;
}

.converstation_field::-webkit-scrollbar {
  width: 1rem;
}

.converstation_field::-webkit-scrollbar-track {
  background: #f1f2f6;
}

.converstation_field::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 1rem;
  border: 1px solid #f1f2f6;
}

.support-comment {
  display: flex;
  justify-content: center;
  background-color: darkorange;
  color: bisque;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgb(177, 177, 177);
  text-shadow: 0 0 3px black;
}
.support-comment > span {
  margin-right: 1rem;
}

.moved-ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightyellow;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgb(177, 177, 177);
}
.moved-ticket > * {
  margin-right: 1rem;
}

.converstration-contextButtons {
  display: none;
  overflow: hidden;
  position: absolute;
  right: 1rem;
  top: -2.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
.converstration-contextButtons > button {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
}
.converstration-contextButtons > button:hover {
  background-color: yellow;
}

.converstation_question {
  position: relative;
  max-width: 70%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  margin: 1rem;
  align-self: flex-start;
  color: black;
  box-shadow: 0 0 1rem 0px rgb(177, 177, 177);
}
.converstation_question:hover .converstration-contextButtons {
  display: block;
}

.converstation_question:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -0.9rem;
  bottom: 1rem;
  border: 1rem solid;
  border-color: transparent #fff #fff transparent;
}

.converstation_answer {
  position: relative;
  max-width: 70%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #62a8dc;
  margin: 1rem;
  align-self: flex-end;
  color: black;
  box-shadow: 0 0 1rem 0px rgb(177, 177, 177);
}
.converstation_answer:hover .converstration-contextButtons {
  display: block;
}

.converstation_answer:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: -0.9rem;
  bottom: 1rem;
  border: 1rem solid;
  border-color: transparent transparent #62a8dc #62a8dc;
}

.question_info {
  opacity: 0.5;
  float: right;
  margin-top: 1rem;
}

.answer_info {
  opacity: 0.5;
  float: right;
  margin-top: 1rem;
}

.answer_info > span {
  margin-right: 1rem;
}

.converstation_textfield {
  background-color: #f1f2f6;
  border-top: 2px solid #e8e8f0;
}

.converstation_textfield__answerField {
  margin: 1rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.new_answer {
  font-family: "Montserrat", Arial, sans-serif;
  resize: none;
  font-size: 1em;
  border-radius: 4px;
  padding: 1rem;
  border: none;
  outline: none;
}

.new_answer:focus {
  box-shadow: 0 0 1rem #62a8dc;
}

.new_answer::-moz-placeholder {
  font-family: "Montserrat", Arial, sans-serif;
  opacity: 0.5;
}

.new_answer::placeholder {
  font-family: "Montserrat", Arial, sans-serif;
  opacity: 0.5;
}

.btn_layout {
  display: flex;
  align-items: center;
  color: black;
}

.btn {
  font-weight: bold;
  font-size: 1em;
  padding: 1rem;
  border: 1px solid #c6c6c6;
  border-radius: 0.4em;
  background-color: #f5f5f5;
  margin: 1rem;
  color: #c6c6c6;
}

.btn_icon {
  font-size: 1.5em;
  /* display: inline-block; */
  /* width: 100%; */
  /* text-align: center; */
}

.btn:hover {
  background-color: #c6c6c6;
  color: #f5f5f5;
  cursor: pointer;
}

.btn_icon:hover {
  color: black;
  cursor: pointer;
}

.answer_btn_field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer_attach {
  border: none;
  background-color: transparent;
  padding: 0;
}

@media (max-width: 1760px) {
  .ticket_icon {
    display: none;
  }
  .ticket_list_content {
    max-width: calc(100% - 33px);
  }
  .customCheckbox {
    position: static;
  }
}
@media (max-width: 1024px) {
  .main-content {
    grid-template-columns: auto;
  }
  .grid_converstation {
    display: none;
  }
  .grid_tickets {
    max-width: none;
  }
}/*# sourceMappingURL=style.css.map */