@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.4rem;
  width: 100%;
  margin: auto;
  flex-grow: 1;
  box-sizing: border-box;
}

.logo {
  width: 5rem;
  margin: 1rem;
}

.menu_icon {
  font-size: 3em;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.grid {
  display: flex;
  flex-basis: 38rem;
}

.grid_menu_space {
  background-color: #0b61a4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.grid_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid_menu_items {
  margin-bottom: 1rem;
  font-family: "Montserrat", Arial, sans-serif;
  color: #ffffff;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem;
}

.grid_menu_items_active {
  border-radius: 1.5rem;
  background-color: rgba(255, 191, 0, 0.5);
}

.grid_menu_items:hover {
  border-radius: 1.5rem;
  background-color: rgba(255, 191, 0, 0.3);
  /* box-shadow: 0 0 6px white; */
}

.mainMenu__compact {
  font-family: "Montserrat", Arial, sans-serif;
  background-color: #0b61a4;
  padding: 1rem;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  color: #ffffff;
  display: none;
}

.mainMenu__compact::before {
  content: "\f0c9";
  font-family: Fontawesome;
}

.grid_tickets {
  min-height: 38rem;
  height: 100vh;
  background-color: #3f92d2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket_search {
  width: 50%;
  font-family: "Montserrat", Arial, sans-serif;
  margin: 1rem;
  margin-right: 0;
  font-size: 1em;
  border: none;
  border-radius: 9px;
  padding: 0.5rem;
}

.ticket_search::-moz-placeholder {
  font-family: "Montserrat", Arial, sans-serif;
  opacity: 0.3;
}

.ticket_search::placeholder {
  font-family: "Montserrat", Arial, sans-serif;
  opacity: 0.3;
}

.ticketSearch__submit {
  font-family: "Montserrat", Arial, sans-serif;
  margin: 1rem;
  margin-left: 0;
  font-size: 1em;
  border: none;
  border-radius: 9px;
  padding: 0.5rem;
  background-color: rgb(255, 227, 142);
}

.ticketMenu__name {
  text-transform: uppercase;
  display: inline-block;
  background-color: rgba(11, 98, 164, 0.5);
  padding: 1rem 0;
  width: 99%;
  color: #ffffff;
  font-weight: bolder;
}

/* .ticket_search:after{
content: '\f002';
font-family: FontAwesome;
color: rgba(0, 0, 0, 0.3);
} */
ul {
  list-style: none;
}

.select_emails {
  font-family: "Montserrat", Arial, sans-serif;
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 1em;
}

.ticket_header_count {
  margin-left: 1rem;
  border: 1px solid;
  border-radius: 1.5rem;
  padding: 0 1rem;
}

.ticket_header {
  display: inline-block;
  text-align: center;
  width: 100%;
  /* height: 20rem; */
}

.ticket_header_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.ticket_header_menu_item {
  padding: 1rem;
}

.ticket_header_menu_item:hover {
  background-color: rgba(255, 191, 0, 0.3);
  border-radius: 2.7rem;
}

.ticket_header_menu_item_active {
  background-color: rgba(255, 191, 0, 0.5);
  border-radius: 2.7rem;
  color: #8a6801;
}

.ticket_list {
  background-color: white;
  flex-grow: 1;
  width: 99%;
  padding: 0;
  overflow: auto;
}

.ticket_list::-webkit-scrollbar {
  width: 1rem;
}

.ticket_list::-webkit-scrollbar-track {
  background: rgba(199, 199, 199, 0.5);
}

.ticket_list::-webkit-scrollbar-thumb {
  background-color: rgba(3, 62, 107, 0.5);
  border-radius: 1rem;
  border: 1px solid rgba(199, 199, 199, 0.5);
}

.ticket_list_item {
  display: flex;
  background-color: #ffffff;
  justify-content: flex-start;
  align-items: center;
}

.ticket_list_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.ticket_email {
  padding: 0 1rem 1rem 0;
}

.ticket_time {
  padding: 0 1rem 1rem 0;
}

.ticket_theme {
  padding: 0 1rem 1rem 0;
}

/* .ticket_icon {
    height: 4rem;
    width: 4rem;
    background-color: #a67c00;
    border-radius: 100%;
    padding: 1rem 1.5rem;
    margin: 1rem;
} */
.ticket_icon {
  margin: 0rem;
  width: 4rem;
}

.ticket__checkbox {
  position: relative;
  padding: 1rem;
}

.customCheckbox {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.ticket_list_item_active {
  background-color: #ffdc73;
}

.ticket_list_item:nth-child(even) {
  background-color: #f5f5f5;
}

.ticket_list_item:hover {
  background-color: rgb(252, 234, 183);
}

.grid_converstation {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: #8b8e91; */
  flex-grow: 1;
}

.converstation_info {
  /* height: 20rem; */
  /* min-height: 20rem; */
  padding: 1rem;
  background-color: #3f92d2;
  text-align: center;
}

.converstation_field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgba(255, 220, 115, 0.2);
  overflow: auto;
}

.converstation_field::-webkit-scrollbar {
  width: 1rem;
}

.converstation_field::-webkit-scrollbar-track {
  background: rgba(199, 199, 199, 0.5);
}

.converstation_field::-webkit-scrollbar-thumb {
  background-color: rgba(166, 124, 0, 0.5);
  border-radius: 1rem;
  border: 1px solid rgba(199, 199, 199, 0.5);
}

.converstation_question {
  position: relative;
  max-width: 70%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 214, 93);
  margin: 1rem;
  align-self: flex-start;
}

.converstation_question:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -0.9rem;
  bottom: 1rem;
  border: 1rem solid;
  border-color: transparent rgb(255, 214, 93) rgb(255, 214, 93) transparent;
}

.converstation_answer {
  position: relative;
  max-width: 70%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 235, 175);
  margin: 1rem;
  align-self: flex-end;
}

.converstation_answer:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: -0.9rem;
  bottom: 1rem;
  border: 1rem solid;
  border-color: transparent transparent rgb(255, 235, 175) rgb(255, 235, 175);
}

.question_info {
  opacity: 0.5;
  float: right;
  margin-top: 1rem;
}

.answer_info {
  opacity: 0.5;
  float: right;
  margin-top: 1rem;
}

.answer_info > span {
  margin-right: 1rem;
}

.converstation_textfield {
  display: flex;
  flex-direction: column;
  background-color: rgb(202, 168, 67);
}

.new_answer {
  font-family: "Montserrat", Arial, sans-serif;
  resize: none;
  margin: 1rem 1rem;
  font-size: 1em;
  border-radius: 4px;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.new_answer:focus {
  box-shadow: 0 0 1rem rgb(0, 153, 0);
}

.new_answer::-moz-placeholder {
  font-family: "Montserrat", Arial, sans-serif;
  opacity: 0.5;
}

.new_answer::placeholder {
  font-family: "Montserrat", Arial, sans-serif;
  opacity: 0.5;
}

.btn_layout {
  display: flex;
  align-items: center;
}

.btn {
  font-weight: bold;
  font-size: 1em;
  padding: 1rem;
  border: none;
  border-radius: 1em;
  background-color: rgb(255, 230, 157);
  margin: 1rem;
  color: rgb(202, 168, 67);
}

.btn_icon {
  font-size: 1.5em;
  /* display: inline-block; */
  /* width: 100%; */
  /* text-align: center; */
}

.btn:hover {
  background-color: rgb(0, 252, 0);
  box-shadow: 0 0 10px rgb(0, 153, 0);
  color: rgb(0, 153, 0);
  cursor: pointer;
}

.btn_icon:hover {
  color: black;
  cursor: pointer;
}

.answer_btn_field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer_attach {
  border: none;
  background-color: transparent;
  padding: 0;
}

@media (max-width: 1760px) {
  .ticket_icon {
    display: none;
  }
  .customCheckbox {
    position: static;
  }
}
@media (max-width: 1200px) {
  .grid_menu_space {
    display: none;
  }
  .mainMenu__compact {
    display: block;
  }
}
@media (max-width: 920px) {
  .grid_converstation {
    display: none;
  }
  .grid_tickets {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */