$bodyTextSize: 10px;

$mainMenuColor1: #0b61a4;
$mainMenuColor2: #ffffff;
$mainMenuHoverColor: rgba(255, 191, 0, 0.3);
$mainMenuActiveColor: rgba(255, 191, 0, 0.5);
$ticketMenuNameColor: #0b61a4;
$ticketMenuHoverColor: rgba(255, 191, 0, 0.3);
$ticketMenuActiveColor: rgba(255, 191, 0, 0.5);
$ticketMenuActiveSecondColor: #8a6801;
$ticketListScrollColor1: rgba(199, 199, 199, 0.5);
$ticketListScrollColor2: rgba(3, 62, 107, 0.5);
$ticketListItemColor1: #ffffff;
$ticketListItemColor2: #f5f5f5;
$ticketListItemActiveColor: #ffdc73;
$ticketListItemHoverColor: rgb(252, 234, 183);
$converstationBackground: rgba(255, 220, 115, 0.2);
$converstationScrollColor1: rgba(199, 199, 199, 0.5);
$converstationScrollColor2: rgba(166, 124, 0, 0.5);
$converstationQuestionColor: rgb(255, 214, 93);
$converstationAnswerColor: rgb(255, 235, 175);
$textFieldBoxColor: rgb(202, 168, 67);
$answerShadow: rgb(0, 153, 0);
$btnBackgroundColor: rgb(255, 230, 157);
$btnTextColor:rgb(202, 168, 67);
$btnBackgroundHoverColor: rgb(0, 252, 0);
$btnTextHoverColor:rgb(0, 153, 0);

$mainColor2: #3f92d2;
$TextColor: black;
