//font
$bodyTextSize: 10px;
$mainFont: 'Montserrat', Arial, Helvetica, sans-serif;


//colors
$mainMenuColor1: #021631;
$mainMenuColor2: #858e9d;
$mainMenuHoverColor: #bcc2ca;
$mainMenuActiveColor: #fff;
$ticketMenuNameColor: #f1f2f6;
$ticketMenuHoverColor: #81c2ff;
$ticketMenuActiveColor: #1d90fb;
$ticketMenuActiveSecondColor: #8a6801;
$ticketListScrollColor1: #ffffff;
$ticketListScrollColor2: #cccccc;
$ticketListItemColor1: #fff;
$ticketListItemColor2: rgb(250, 250, 250);
$ticketListItemActiveColor: #d8d7d7;
$ticketListItemHoverColor: rgba(216, 215, 215, .5);
$converstationBackground: #eeeeee;
$converstationScrollColor1: #f1f2f6;
$converstationScrollColor2: #cccccc;
$converstationQuestionColor: #fff;
$converstationAnswerColor: #62a8dc;
$textFieldBoxColor: #f1f2f6;
$answerShadow: #62a8dc;
$btnBackgroundColor: #f5f5f5;
$btnTextColor: #c6c6c6;
$btnBackgroundHoverColor: #c6c6c6;
$btnTextHoverColor:#f5f5f5;
$mainColor2: #f1f2f6;
$TextColor: black;

//screens
$middle: 'max-width: 1250px';