$bodyTextSize: 10px;

$mainMenuColor1: #212121;
$mainMenuColor2: #ffffff;
$mainMenuHoverColor: #2b2b2b;
$mainMenuActiveColor: #74adc6;
$ticketMenuNameColor: #181818;
$ticketMenuHoverColor: #2b2b2b;
$ticketMenuActiveColor: #74adc6;
$ticketMenuActiveSecondColor: #8a6801;
$ticketListScrollColor1: rgba(199, 199, 199, 0.5);
$ticketListScrollColor2: rgba(3, 62, 107, 0.5);
$ticketListItemColor1: #eeeeee;
$ticketListItemColor2: #d8d8d8;
$ticketListItemActiveColor: #74adc6;
$ticketListItemHoverColor: #b3d1df;
$converstationBackground: #eeeeee;
$converstationScrollColor1: rgba(199, 199, 199, 0.5);
$converstationScrollColor2: rgba(166, 124, 0, 0.5);
$converstationQuestionColor: #212121;
$converstationAnswerColor: #49827f;
$textFieldBoxColor: #212121;
$answerShadow: rgb(1, 165, 42);
$btnBackgroundColor: #74adc6;
$btnTextColor: white;
$btnBackgroundHoverColor: white;
$btnTextHoverColor:#74adc6;

$mainColor2: #212121;
$TextColor: white;
