@import './normalize';
@import './varsYeah';
@import '../layout/';


* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: $bodyTextSize;
}

body {
    font-family: $mainFont;
    font-size: 1.2rem;
    width: 100%;
    margin: auto;
    flex-grow: 1;
    box-sizing: border-box;
}

.wrapper {
    max-width: 100vw;
    width: auto;
}

.ticket-section {
    background-color: $mainColor2;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.converstation-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
    overflow: hidden;
}

.converstation-area {
    flex-grow: 1;
    display: flex;
}

@media ($middle) {
    .grid_converstation {
        display: none;
    }

    .grid_tickets {
        max-width: none;
        // width: 100%;
    }
}