
.converstation-section__footer {
    background-color: $textFieldBoxColor;
    border-top: 2px solid #e8e8f0;
    
    &-form {
        margin: 1rem 2rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    
    &-textarea {
        font-family: 'Montserrat', Arial, sans-serif;
        resize: none;
        font-size: 1em;
        border-radius: 4px;
        padding: 1rem;
    
        border: none;
        outline: none;
    }
    
    &-textarea:focus {
        box-shadow: 0 0 1rem $answerShadow;
    }
    
    &-textarea::placeholder {
        font-family: 'Montserrat', Arial, sans-serif;
        opacity: 0.5;
    }
    
    &-buttons-layout {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-buttons-group {
        display: flex;
        align-items: center;
        color: $TextColor;
    }
   
    &-button {
        font-weight: bold;
        font-size: 1em;
        padding: 1rem;
        border: 1px solid $btnTextColor;
        border-radius: 0.4em;
        background-color: $btnBackgroundColor;
        margin: 1rem;
        color: $btnTextColor;
        &:hover {
            background-color: $btnBackgroundHoverColor;
            color: $btnTextHoverColor;
            cursor: pointer;
        }
    }
    
}