.ticket-section__menu {
    display: inline-block;
    text-align: center;
    width: 100%;


    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $mainColor2;
        padding: 1rem;
        text-align: left;
    }

    &-btn {
        font-size: 2rem;
        margin: 0.5rem;
        color: $TextColor;
        transition: 0.3s;
    }


    &-btn:hover {
        cursor: pointer;
        transform: scale(1.1);
    }


    &-search {
        border: 2px solid #e8e8f0;
        background-color: white;
        border-radius: 1rem;
        margin: 0 1rem;


        &-btn {
            background-color: transparent;
            border: none;
        }

        &-form {
            font-family: $mainFont;
            font-size: 1em;
            border: none;
            border-radius: 9px;
            padding: 0.5rem;
            outline: none;
        }

        &-form::placeholder {
            font-family: $mainFont;
            opacity: 0.3;
        }
    }

    &-emails {
        border: 2px solid #e8e8f0;
        padding: 0.4rem;
        border-radius: 0.5rem;
        outline: 0;
    }

    &-select {
        color: $TextColor;
        font-weight: bolder;
        text-transform: uppercase;
    }

}

.ticket-section__submenu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    transition: all 0.5s ease-in-out;


    &-count {
        margin-left: 1rem;
        border: 1px solid;
        border-radius: 1rem;
        padding: 0 1rem;
    }


    &-item {
        padding: 1rem;
        color: $TextColor;
    }

    &-item:hover {
        color: $ticketMenuHoverColor;
        font-weight: bold;
        cursor: pointer;
        border-bottom: 2px solid $ticketMenuHoverColor;
    }

    &-item:hover &-count {
        border: 2px solid;
    }

    &-item.active {
        color: $ticketMenuActiveColor;
        border-bottom: 2px solid $ticketMenuActiveColor;
        font-weight: bold;
    }

    &-item.active &-count {
        border: 2px solid;
    }

}