.mainMenu__compact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $mainColor2;
    padding: 1rem;
    text-align: left;
}

.mainMenu__compact__btn {
    font-size: 2rem;
    margin: 0.5rem;
    color: $TextColor;
    transition: 0.3s;
}


.mainMenu__compact__btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.searchForm {
    border: 2px solid #e8e8f0;
    background-color: white;
    border-radius: 1rem;
    margin: 0 1rem;
}

.searchBtn {
    background-color: transparent;
    border: none;
}

.ticket_search {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1em;
    border: none;
    border-radius: 9px;
    padding: 0.5rem;
    outline: none;
}

.ticket_search::placeholder {
    font-family: 'Montserrat', Arial, sans-serif;
    opacity: 0.3;
}

.ticketSearch__submit {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 1rem;
    margin-left: 0;
    font-size: 1em;
    border: none;
    border-radius: 9px;
    padding: 0.5rem;
    background-color: $mainMenuActiveColor;
}

.ticketMenu__emails {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticketMenu__name {
    // text-transform: uppercase;
    // display: inline-block;
    // background-color: $ticketMenuNameColor;
    // padding: 1rem 0;
    // width: 99%;
    margin-right: 1rem;
    color: $TextColor;
    font-weight: bolder;
}

#emailSelect {
    border: 2px solid #e8e8f0;
    padding: 0.4rem;
    border-radius: 0.5rem;
    outline: 0;
}

/* .ticket_search:after{
content: '\f002';
font-family: FontAwesome;
color: rgba(0, 0, 0, 0.3);
} */


.select_emails {
    font-family: 'Montserrat', Arial, sans-serif;
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 1em;
}

.ticket_header_count {
    margin-left: 1rem;
    border: 1px solid;
    border-radius: 1rem;
    padding: 0 1rem;
}

.ticket_header {
    display: inline-block;
    text-align: center;
    width: 100%;
    /* height: 20rem; */
}

.ticket_header_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    transition: all 0.5s ease-in-out;
}

.ticket_header_menu_item {
    padding: 1rem;
    color: $TextColor;
}

.ticket_header_menu_item:hover {
    color: $ticketMenuHoverColor;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 2px solid $ticketMenuHoverColor;
}

.ticket_header_menu_item:hover .ticket_header_count {
    border: 2px solid;
}

.ticket_header_menu_item.active {
    // background-color: $ticketMenuActiveColor;
    // border-radius: 2.7rem;
    color: $ticketMenuActiveColor;
    border-bottom: 2px solid $ticketMenuActiveColor;
    font-weight: bold;
    // color: $ticketMenuActiveSecondColor;
}

.ticket_header_menu_item.active .ticket_header_count {
    border: 2px solid;
}