#converstation-history {
    flex-shrink: 0;
    // background-color: $mainColor2;
    border: 2px solid #e8e8f0;
    width: 200px;
    // min-width: 200px;

    overflow: hidden;
    transition: 0.3s;
    &>ul {
        padding-inline-start: 1rem;
    }

    &>ul li {
        padding: 0.5rem;
    }

    &>ul li::before {
        content: '\f15c';
        font-family: FontAwesome;
        margin-right: 1rem;
    }
}