.ticket-section__list {
    background-color: white;
    flex-grow: 1;
    width: 99%;
    padding: 0;
    overflow-y: scroll;


    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $ticketListScrollColor1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $ticketListScrollColor2;
        border-radius: 1rem;
        border: 1px solid $ticketListScrollColor1;
    }

    &-item {
        cursor: pointer;
        overflow: hidden;
        display: flex;
        background-color: $ticketListItemColor1;
        align-items: center;



        &:nth-child(even) {
            background-color: $ticketListItemColor2;
        }

        &:hover {
            background-color: $ticketListItemHoverColor;
        }

        &.active {
            background-color: $ticketListItemActiveColor;
            font-weight: bold;
            color: $TextColor;
        }

        &-icon {
            margin: 0rem;
            width: 4rem;
        }

        &-checkbox-label {
            flex-shrink: 0;
            position: relative;
            padding: 1rem;
        }

        &-checkbox-label:hover {
            cursor: pointer;
        }

        &-checkbox {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
        }

        &-content {
            width: 100%;
            overflow: hidden;
        }

        &-content-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-email {
            padding: 0.5rem;
        }

        &-time {
            padding: 0.5rem;
        }

        &-theme {
            padding: 0.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-theme::before {
            content: 'Тема:';
            margin-right: 0.5rem;
            text-transform: uppercase;
        }
    }

}